- names_by_language = common_names_by_language(@common_names, current_user.language_id).uniq
- if names_by_language.blank?
  .empty
    %p= I18n.t(:names_common_empty)
- else
  %h3.assistive= I18n.t(:names_common_list_by_language_assistive_header)
  %p.help_text
    = I18n.t(:name_preferred_for_language_help_tip,
      :icon => image_tag("/images/v2/icon_required.png", :alt => I18n.t(:name_preferred_for_language_yes), :class => 'indicator'))

  - names_by_language.each_with_index do |language_names_pair, index|
    - language = language_names_pair[0]
    - taxon_concept_names = language_names_pair[1]
    %h4= language
    %table.standard
      %thead
        %tr
          %th= I18n.t(:names_name_column_header)
          %th= I18n.t(:names_sources_column_header)
          %th= I18n.t(:names_status_column_header)
      %tbody
        - taxon_concept_names.each do |taxon_concept_name|
          %tr
            %td{:class => taxon_concept_name.preferred.to_i == 1 ? 'preferred' : nil,
              :title => taxon_concept_name.preferred.to_i == 1 ? I18n.t(:name_preferred_for_language_yes) : nil}
              = taxon_concept_name.name.string
            %td
              - if taxon_concept_name.synonym.nil?
                - agent = Agent.find($AGENT_ID_OF_DEFAULT_COMMON_NAME_SOURCE) rescue nil
                %p= agent.full_name unless agent.nil?
              -else
                - taxon_concept_name.synonym.agents.each do |agent|
                  %p= agent.full_name
            %td
              = Vetted.find_by_id(taxon_concept_name.vetted_id).label
